<% layout("/layouts/boilerplate") -%>
<div class="row">
    <div class="col-8 offset-2">
        <br><br>
    <h3>Create a New Listings</h3><br>
    <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
        <label for="title" class="form-lable">Title</label>
        <input  name="listing[title]" placeholder="Add a catcy title" type="text" class="form-control" required>
        <div class="invalid-feedback">Please enter the title</div>
        <div class="valid-feedback">Title is good!</div>
        </div>

        
        <div class="mb-3">
        <label for="description" class="form-lable"> Description</label>
        <textarea  name="listing[description]" placeholder="enter description" class="form-control" required></textarea>
        <div class="invalid-feedback">Please enter a short description</div>
        </div>


        <div class="mb-3">
        <label for="image" class="form-lable">Upload Image</label>
        <input  name="listing[image][url]"  type="file" class="form-control" required>
        </div>

        <div class="row">
        <div class="mb-3 col-md-4">
        <label for="price" class="form-lable">Price</label>
        <input  name="listing[price]" placeholder="1200"   class="form-control" required>
        <div class="invalid-feedback">Please enter a vaild price</div>
        </div>

        <div class="mb-3 col-md-8">
        <label for="country" class="form-lable">Country</label>
        <input  name="listing[country]" placeholder="India"  type="text" class="form-control" required>
        <div class="invalid-feedback">Please enter your country</div>
        </div>
        </div>


        <div class="mb-3">
        <label for="location" class="form-lable">Location</label>
        <input  name="listing[location]" placeholder="Prayagraj"  type="text" class="form-control" required>
        <div class="invalid-feedback">Please enter your location</div>
        </div>

        <div class="mb-3">
        <label for="category" class="form-label">Category</label><br>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" 
                name="listing[category][]" value="trending" id="catTrending">
            <label class="form-check-label" for="catTrending">Trending</label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" 
                name="listing[category][]" value="rooms" id="catRooms">
            <label class="form-check-label" for="catRooms">Rooms</label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" 
                name="listing[category][]" value="iconicCites" id="catIconic">
            <label class="form-check-label" for="catIconic">Iconic Cites</label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" 
                name="listing[category][]" value="mountains" id="catMountains">
            <label class="form-check-label" for="catMountains">Mountains</label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" 
                name="listing[category][]" value="castles" id="catCastles">
            <label class="form-check-label" for="catCastles">Castles</label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" 
                name="listing[category][]" value="pools" id="catPools">
            <label class="form-check-label" for="catPools">Pools</label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" 
                name="listing[category][]" value="camping" id="catCamping">
            <label class="form-check-label" for="catCamping">Camping</label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" 
                name="listing[category][]" value="farms" id="catFarms">
            <label class="form-check-label" for="catFarms">Farms</label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" 
                name="listing[category][]" value="arctic" id="catArctic">
            <label class="form-check-label" for="catArctic">Arctic</label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" 
                name="listing[category][]" value="beach" id="catBeach">
            <label class="form-check-label" for="catBeach">Beach</label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" 
                name="listing[category][]" value="forest" id="catForest">
            <label class="form-check-label" for="catForest">Forest</label>
        </div>
        </div>

        <button class="btn btn-dark add-btn">Add</button>
    </form>
</div>
</div>

